---
layout: default
title: Javier Rivera is a designer.
---

<div class="index-grid row">

  <h1 class="greeting col col--4-of-4">
    Hello!
  </h1>

  <p class="statement col col--2-of-4">
    I'm a designer with a background in architecture, looking to join a collaborative team where I can help create products for people.
  </p>

  <span class="col col--4-of-4"></span>
  <a href="mailto:javier@javirivera.com" class="cta-mail">Send Email</a>

</div>

<div class="index-grid row">

  {% for post in site.categories['projects'] limit:2 %}
    {% include recent-work.html %}
  {% endfor %}

<div class="col col--4-of-12 index-grid-card index-grid-card-blog">
  <div class="index-grid-card-content">
    {% for post in site.categories['blog'] limit:1 %}
      {% include recent-posts.html %}
    {% endfor %}
  </div>
</div>

</div>
