.header
	position: fixed
	width: 100%
	height: 120px
	z-index: 3
	padding: 40px 0 0 40px

	.header-center
		position: relative
		max-width: 1200px
		margin: 0 auto

	.logo
		font-weight: 700
		font-size: 2em
		line-height: 0px
		position: relative
	
	.logo-subline
		font-family: Montserrat
		font-weight: 500
		font-size: 1.2em
		position: relative

//Tablet
@media (min-width: $toast-breakpoint-medium)
	.header
		padding: 100px 0 0 40px


//Desktop

