.panel
	color: white

	+box-sizing(border-box)
	position: absolute
	background-color: black
	height: 100%
	width: 100%
	z-index: 3
	padding: 0 20px

	.about-head
		position: absolute
		z-index: 6
		right: 0

	.about-content
		position: relative
		width: 100%
		max-width: 1200px
		margin: 0 auto
		top: 120px

		h1, h2, h3, h4, h5, h6, p,
			color: white

.social-about
	list-style-type: none
	font-size: .9rem
	font-weight: 300
	line-height: 1.5em
	padding-left: 0
	li
		a, a:link, a:visited, a:active
			text-decoration: none
			border-bottom: 0px solid $highlight
			box-shadow: inset 0 0px 0 $highlight
			color: white
			background: transparent
			+transition(all .2s ease-in)
			padding: 0

		a:hover
			color: $highlight
			border-bottom: 0px solid transparent
			box-shadow: inset 0 0px 0 transparent
			+transition(all .2s ease-in)
