.panel
	color: white
	.header-center
		.logo
			color: white
		
		a, a:link, a:visited, a:active
			text-decoration: none
			border-bottom: 8px solid #00eead
			box-shadow: inset 0 -4px 0 #00eead
			color: white
			background: transparent
			+transition(all .2s ease-in)	
			padding: 0

		a:hover
			color: #00eead
			border-bottom: 0px solid transparent
			box-shadow: inset 0 -4px 0 transparent
			+transition(all .2s ease-in)
		
.panel
	+box-sizing(border-box)
	position: relative
	background-color: black
	height: 100%
	width: 100%
	z-index: 3
	padding: 0 20px

	.about-head
		position: fixed
		z-index: 6
		right: 0
	
		
	.about-content
		width: 100%
		max-width: 1200px
		margin: 0 auto
		padding-top: 80px
		height: 100%
		
.panel
  h1, h2, h3, h4, h5, h6, p
    color: white
		