.project-panel
	+box-sizing(border-box)
	position: absolute
	border: 15px solid black
	background-color: white
	width: 100%
	max-width: 1200px
	margin: 200px auto
	left: 0
	right: 0
	z-index: 3

.project-content
	width: 80%
	margin: 0 auto

.ui-exit
	position: absolute
	right: 0
	padding: 40px

.project-footer
	position: relative
	height: 200px
	background-color: black
	z-index: 4
	color: white

.next-previous-project
	position: relative
	top: 50%
	font-size: 1.6em

	a, a:hover, a:active, a:visited
		color: white
		text-decoration: none
		border-bottom: 0px solid #00eead
		box-shadow: inset 0 0px 0 #00eead

.project-content
	padding: 20px

.project-page-header
	padding: 120px 20px

.project-page-title
	font-size: 36px
	text-transform: uppercase
	padding: 0
	margin: 0

.project-page-subline
	font-size: 24px
	font-weight: 500
	color: grey
	padding: 0
	margin: 0

.project-sub-images, .project-row
	padding: 60px 0 

.project-details
	margin: 0
	
	ul
		li
			list-style: none
		margin 0
		padding: 0
	
.shift-right
	position: absolute
	right: 120px

.shift-left
	position: absolute
	left: 120px

	
//@keyframes fadeIn
//  0%
//    opacity: 0
//  100%
//    opacity: 1
//
//
//@keyframes fadeInUp
//  0%
//    opacity: 0
//    transform: translate3d(0, 100%, 0)
//  100%
//    opacity: 1
//    transform: none
//
//
//@keyframes fadeInRight
//  0%
//    opacity: 0
//    transform: translate3d(100%, 0, 0)
//  100%
//    opacity: 1
//    transform: none
	
.m_scene
	
	.scene_element
	  animation-duration: .5s
	  transition-timing-function: ease-in
	  animation-fill-mode: both
	
	.scene_element--fadein
	  animation-name: fadeIn
	
	.scene_element--fadeinup
		animation-name: zoomInUp

	.scene_element--fadeinright
		animation-name: fadeInRight
	
	.scene_element--slidedown
		animation-name: fadeInDownBig
	
	&.is-exiting
		.scene_element
			animation-direction: alternate-reverse
	
body
	animation-duration: 2s
	transition-timing-function: ease-in
	animation-name: fadeIn

//Tablet
@media (min-width: $toast-breakpoint-medium)
	.project-panel
		border: 30px solid black
		width: 90%


//Desktop

