.index-grid
  position: relative
  bottom: 0
  width: 100%
  max-width: 1200px
  top: 120px
  transform: translateY(-50%)
  margin-bottom: 0

  .cta-mail
    position: relative
    border: 1px solid $highlight
    border-radius: 36px
    margin: 120px 20px -20px 20px
    padding: 5px 10px
    background-color: $highlight
    color: $white

  .cta-mail:hover
    background-color: transparent
    color: $highlight
    +transition(all .4s )

.index-grid-card-wrap
  top: 0px

  .index-grid-card
    position: relative
    height: 160px
    min-height: 100px
    padding: 10px
    margin-bottom: 20px

    .index-grid-card-content
      height: 100%
      font-size: .75em
      padding: 10px

    .post-tags
      font-style: italic
      color: $gray

.tile-heading
  text-transform: uppercase
  letter-spacing: .1em
  font-size: .75em
  color: $gray

.tile-title
  margin: 5px 0 0
  a
    color: $black


.tile-heading
  text-transform: uppercase
  letter-spacing: .1em
  font-size: .75em


.greeting .statement
  margin-left: -20px

//Desktop
@media (min-width: $toast-breakpoint-medium)

  .index-grid
    top: 160px
    margin-bottom: 60px

    .cta-mail
      border: 1px solid $highlight
      border-radius: 36px
      margin: 60px 20px 20px 20px
      padding: 5px 10px
      background-color: $highlight
      color: $white

    .cta-mail:hover
      background-color: transparent
      color: $highlight
      +transition(all .4s )

  .index-grid-card-wrap
    position: relative
    height: 160px
    min-height: 100px
    margin-bottom: 20px
    top: 120px

    .index-grid-card
      position: relative
      height: 100px
      min-height: 100px
      padding: 10px
      margin-bottom: 20px
      .index-grid-card-content
        height: 100%
        font-size: .75em
        padding: 10px
      .post-tags
        font-style: italic
        color: $gray

  .tile-heading
    text-transform: uppercase
    letter-spacing: .1em
    font-size: .75em
    color: $gray

  .tile-title
    margin: 5px 0 0
    a
      color: $black


  .tile-heading
    text-transform: uppercase
    letter-spacing: .1em
    font-size: .75em


  .greeting .statement
    margin-left: -20px
