.index-grid
  position: relative
  bottom: 0
  width: 100%

.index-grid-content
  position: relative
  width: 100%
  top: 100px

  .index-grid-card
    position: relative
    height: 200px
    min-height: 200px
    padding: 10px
    margin-bottom: 20px

    .index-grid-card-content
      height: 100%
      background-color: pink
      border: 10px solid black


.greeting .statement
  margin-left: -20px
