---
layout: work
title: Javier Rivera is a designer.
---


<div id="work-panel" class="scene_element scene_element--fadein">

    <div class="work-content col col--3-of-3">
        <h1>Work</h1>
        <div class="row">
          {% for post in site.categories.projects limit: 3 %}
            <a href="{{ post.url }}">
              <div class="work-project-tile col col--1-of-3">
                <div class="post-image-wrap">
                <img class="post-image" src="{{ post.image }}" alt="{{ post.description }}">
                </div>
                {% if post.tags %}
                  <span class=" small work-tags">
                    {{ post.tags  | sort | join: ", "  }}
                  </span>
                {% endif %}
                  <h2 class="work-title big">{{ post.title }}</h2>
              </div>
            </a>
          {% endfor %}
          {% for post in site.categories.projects limit: 3 offset: 3 %}
          <a href="{{ post.url }}">
            <div class="work-project-tile col col--1-of-3">
              <div class="post-image-wrap">
              <img class="post-image" src="{{ post.image }}" alt="{{ post.description }}">
              </div>
              {% if post.tags %}
                <span class=" small work-tags">
                  {{ post.tags  | sort | join: ", "  }}
                </span>
              {% endif %}
                <h2 class="work-title big">{{ post.title }}</h2>
            </div>
          </a>
          {% endfor %}
        </div>
    </div>
</div>
