---
layout: work
title: Javier Rivera is a designer.
---


<div id="blog-panel" class="scene_element scene_element--fadein">

    <div class="blog-content col col--3-of-3">
        <h1>Work</h1>
        <div class="row">
          {% for post in site.categories.projects limit: 3 %}
            <div class="col col--1-of-3">
              <h2>{{ post.title }}</h2>
              <img src="{{ post.image }}" alt="{{ post.description }}">
            </div>
          {% endfor %}
          {% for post in site.categories.projects limit: 3 offset: 3 %}
            <div class="col col--1-of-3">
              <h2>{{ post.title }}</h2>
              <img src="{{ post.image }}" alt="{{ post.description }}">
            </div>
          {% endfor %}
        </div>
    </div>
</div>
