<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
 <div id="main" class="m_scene site-wrap">
	<div class="header">
	   	<div class="header-center">
	    	<h1 class="logo">javier rivera</h1>
				<a href="#"><span class="logo-subline">
	     	is a designer.
	     	</span></a>
	    </div>
	</div>


{{ content }}
        		
     <!--FOOTER-->
      <div class="footer">
      	<div class="footer-center">
      		<div class="footer-menu">
      			<span>
      				Blog
						</span>
      		</div>
      	</div>	
      	</div>
			</div>
			{% include footer.html %}
    </body>
</html>


