<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="assets/css/flickity.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/assets/js/flickity.pkgd.min.js">
						</script>
</head>
    <body>
        	<div class="site-wrap">
        		<div class="header">
        				<h1 class="logo">javier rivera</h1>
			  			<span class="logo-subline">
        				is a designer.
        			</span>
        		</div>
       			<script>
							$(document).ready( function() {
							 $('.gallery').flickity({
  							// options
								wrapAround: true,
								arrowShape: {
      						x0: 10,
  								x1: 60, y1: 50,
  								x2: 75, y2: 35,
  								x3: 40
								},
								 setGallerySize: false
								});
								
							});
						</script>
       		
        		<div class="gallery">
        			<div class="gallery-cell">
        			<div class="cell-wrap">
        					<span class="project-title">De la Crema</span><br>
        					<span class="project-subline">Quality milk based products from the best of the cream.</span><br>
        					<span class="project-link">See more...</span>
        				</div>
        			</div>
        			<div class="gallery-cell">
        				<div class="cell-wrap">
        					<span class="project-title">De la Crema</span><br>
        					<span class="project-subline">Quality milk based products from the best of the cream.</span><br>
        					<a href="#" class="project-link">See more...</a>
        				</div>
        			</div>
        			<div class="gallery-cell">
        				<div class="cell-wrap">
        					<span class="project-title">De la Crema</span><br>
        					<span class="project-subline">Quality milk based products from the best of the cream.</span><br>
        					<span class="project-link">See more...</span>
        				</div>
        			</div>
        		</div>
        		
						<!--FOOTER-->
        		<div class="footer">
        			<div class="footer-menu">
        				<ul>
        					<li>Notes</li>
        				</ul>
        			</div>
        		</div>
        		</div>
    </body>
</html>